.operator-node {
  height: 25px;
  border: 1px solid #eee;
  padding-bottom: 20px;
  border-radius: 5px;
  background: white;
  width: 50%;
}

.operator-node label {
  display: block;
  color: #777;
  font-size: 12px;
}

.card-header {
  height: 20px;
  background-color: #d8ecff;
  font-size: 10px;
  font-weight: bold;
  padding: 2px;
  text-align: center;
}
